:root
{
    /*  font-stacks and color presets */
    --primary-font-stack: 'Satisfy', cursive;
    --secondary-font-stack: 'Neucha', cursive;
    --darker-purple: rgb(87, 28, 87);
    --overlay-color:  rgba(255, 255, 255, .5);

    /* imgs */
    --flower-img: url('../images/sunflower.jpg');

    /*  z indices for different levels of visibilty */
    --z-bg: -1;
    --z-level-0: 0;
    --z-level-1: 10;
    --z-level-2: 100;
}

*
{
    margin: 0;
    padding: 0;
    border: 0;
}


body, html
{
    background: var(--flower-img);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;


    font-size: 16px;
    font-weight: 400;
    font-family: var(--primary-font-stack);
    line-height: 1.5em;
}

.container
{
    z-index: var(--z-level-1);
}


.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-level-0);
    background-color: var(--overlay-color);
}

h1, h2, h3
{
    font-family: var(--primary-font-stack);
    color: purple;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 3em;
    z-index: var(--z-level-1);
    position: relative;
}

p
{
    font-size: 1em;
    margin: 0;
}

.btn-purple
{
    background: purple;
    color: whitesmoke;
}

.btn-purple:hover
{
    background: var(--darker-purple);
    color: whitesmoke;
}

.close
{
    color: purple;
}

.close:hover
{
    color: var(--darker-purple);
}

.top-input, .card
{
    position: relative;
    z-index: var(--z-level-1);
}

.card-body
{
    padding:0;
}

.top-input
{
    width: 100%;
    display: flex;
    overflow: hidden;
}

input
{
    flex: 90%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-row button
{
    flex: 10%;
}

.list-group-item
{
    height: 3rem;
    display:flex;
    z-index: var(--z-level-1);
    padding: .5rem;
    height: 2.5rem;
}

.list-group-item:hover
{
    background-color: palegoldenrod;
}

.list-group-item p
{
    width: 95%;
    --webkit-user-select:none;  /* so the user can't select print on the list item */
}

.list-group-item button
{
    width:5%;
}


@media screen and(max-width: 800px) {
    .container, ul
    {
        width: 20%;
        padding: 0;
    }
}
